/* 
border: solid;
border-color: red;

*/
 * {
    background-color: #FBFBF9;
 }
body  {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: cursive;
}

.header{
    justify-content: center;
    font-size: 2.5rem;
    color: #064635;
    
}

.rules {
    font-size: 2rem;
    color: #064635;
}

.selection {
    display: flex;
    flex: wrap;
    align-items: space-between;
    margin: 4rem;
    padding:1rem;

}

.selection, .btn {
    align-self: space-around;
    gap: 4rem;

}

.selection button {
    color: #064635;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;
    border: solid;
    border-color: #064635;
    background-color: #519259;
    
}

.results {
    color: #064635;
    display: flex;
    font-size: 2rem;

}

.results, .score {
    gap: 5rem;
}

.decision {
    font-size: 2rem;
    color: #064635;
}
